@import "../../common/colors.scss";


.loader-container{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader-container img{
    height: 80px;
    width: 80px;
}
.loader{
    color: whitesmoke;
    text-align: center;
}